a{
    color: #212121;
}
a:hover{
    color: #212121;
}
.btn-common {
    background: #212121;
}
.btn-common:hover{
    box-shadow: 0 14px 26px -12px rgba(21, 21, 21, 0.42), 0 4px 23px 0px rgba(21, 21, 21, 0.12), 0 8px 10px -5px rgba(21, 21, 21, 0.02);
}
/* Back to Top */
.back-to-top i {
    background-color: #212121;
}
/* Top Roof */
#roof{
    background: #212121;
}
/* Navbar */
.slicknav_btn{
    border-color: #212121;
    border-radius: 2px;
}
.slicknav_menu .slicknav_btn .slicknav_icon-bar{
    background: #212121;
}
.slicknav_menu .slicknav_btn:hover{
    background: #212121;
}
.slicknav_nav .active a{
    background: #212121;
}
.slicknav_nav a:hover, .slicknav_nav .active{
    color: #212121;
}
.slicknav_nav .dropdown li a.active{
    background: #212121;
}
.navbar-default .navbar-toggle .icon-bar{
    background: #212121;
}
.navbar-event .navbar-nav li a:hover,
.navbar-event .navbar-nav li .active > a,
.navbar-event .navbar-nav li a:focus {
    color: #212121;
}
.navbar-event .dropdown .dropdown-menu {
    border-color: #212121;
}
.navbar-event .dropdown .dropdown-menu > li > a:hover,
.navbar-event .dropdown .dropdown-menu > li > a .active {
    color: #212121;
}
.navbar-event .dropdown .dropdown-menu > li.active > a {
    background: #212121 !important;
    color: #fff;
}
.navbar-event .navbar-nav > .active > a,
.navbar-event .navbar-nav > .active > a:focus,
.navbar-event .navbar-nav > .active > a:hover {
    background: #212121 !important;
    color: #fff;
}
.navbar-event .navbar-nav > .open > a,
.navbar-event .navbar-nav > .open > a:focus,
.navbar-event .navbar-nav > .open > a:hover {
    color: #212121;
}
.navbar-event .navbar-nav > .active > a,
.navbar-event .navbar-nav > .active > a:hover{
    color: #fff;
}
/* Countdown */
.countdown-timer .text h4{
    color: #212121;
}
.time-entry span{
    color: #212121;
}
/* Event */
#event .tab-block .icon i{
    color: #212121;
}
/* Featured icon */
.featured-box .icon i{
    color: #212121;
}
/* Schedule */
.main-board .day > li.active > a,
.main-board .day > li.active > a:focus,
.main-board .day > li.active > a:hover{
    background-color: #212121;
}
.main-board .day > li > a:focus,
.main-board .day > li > a:hover{
    background: #212121;
}
/* Gellery */
.gallery-item .icons i:hover{
    color: #212121;
    border-color: #212121;
}
/* Video */
.ready-to-play:before{
    background: #212121;
}
/* Blog */
#blog .blog-info h3 a:hover{
    color: #212121;
}
/* Pricing Table */
.pricing-table .table-icon i{
    color: #212121;
}
.pricing-table .table-icon i{
    background: rgba(211, 47, 47, 0.07);
}
/* Contact */
#contact .title-header .icon i{
    color: #212121;
}
#contact .label-line.active .label{
    color: #212121;
}
#contact .label-line.active .span:before{
    background: #212121;
}
#contact .span:before{
    background: #212121;
}
/* page header */
.page-header .breadcrumb li{
    color: #212121;
}
.page-header .breadcrumb li a:hover{
    color: #212121;
}
/* Intro */
#intro::before{
    background: #212121;
}
#subscribe-section::before{
    background: #212121;
}
#subscribe-section
.subscribe-box
.subscribe-form button:hover{
    color: #212121;
}
/* Speakers others */
#team .team-img::before{
    background: rgba(21, 21, 21, 0.7);
}

/* Blog page */
.post-title a:hover{
    color: #212121;
}
.blog-post .post-content .meta .meta-part a:hover{
    color: #212121;
}
#pagination .current,
#pagination a:hover{
    color: #212121;
}
.widget-search .search-btn:hover{
    color: #212121;
}
.widget-title{
    border-bottom-color: #212121;
}
#sidebar .posts-list .widget-content a:hover{
    color: #212121;
}
#sidebar .cat-list li a:hover{
    color: #212121;
}
#sidebar .tag a:hover{
    color: #212121;
}
.post-slide .post-content h3 a:hover{
    color: #212121;
}
.post-slide .post-content .meta .meta-part a:hover{
    color: #212121;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #212121;
}
#comments .comment-content .comment-date{
    color: #212121;
}
.reply-link{
    color: #212121;
}
